<nav>
  <ul>
    <li><a routerLink="/clientes" routerLinkActive="active">Todos os Clientes</a></li>
    <li><a routerLink="/clientes/unico" routerLinkActive="active">Buscar um Cliente</a></li>
    <li><a routerLink="/clientes/novo" routerLinkActive="active">Criar Cliente</a></li>
    <li><a routerLink="/clientes/atualizar" routerLinkActive="active">Atualizar Cliente</a></li>
    <li><a routerLink="/clientes/deletar" routerLinkActive="active">Excluir Cliente</a></li>
    <li><a routerLink="/clientes/depositar" routerLinkActive="active">Depositar</a></li>
    <li><a routerLink="/clientes/sacar" routerLinkActive="active">Sacar</a></li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
